<div class="col-lg-12">
    <h2>About Us</h2>
    <p>
        Bright Goat Farm is based in Nashik, Maharashtra (India), established in 2017. We are among the leading Manufacturers and Suppliers of fine quality Livestock Bucks in Maharashtra. We supply Shirohi, Boer, Sirohi, Jamunapari and Sojat Male Bucks at competitive
        rates. We provide only well fed and healthy bucks to customers.
    </p>
    <p>
        We have dedicated staffs, who work towards ensuring our bucks’ good health. Our staffs make sure that the bucks receive proper nutrition and they get the required vaccination. Through such practices, we see to it that our bucks remain immune against all
        kinds of diseases.
    </p>
    <p>
        Our stalls are well maintained and regular surveillance of our stalls by experts makes sure that we do not lack in any aspect in keeping a clean and a healthy environment for our bucks. The stalls, which our bucks inhabit, are quite spacious and well
        equipped.
    </p>
    <p>
        We supply only healthy and disease free bucks to customers. We take every necessary step to maintain our bucks’ health and we provide them regular medical treatments for the same. During seasons of the flu, we take extra care to keep our bucks unaffected
        by the flu.
    </p>
</div>