<div class="col-lg-12">
    <h3>{{ 'gf.title' | translate }}</h3>
    <p>{{ 'gf.para-1' | translate }}</p>
    <p>{{ 'gf.para-2' | translate }}</p>
    <br>
    <h4>{{ 'gf.gp.title' | translate }}</h4>
    <p>{{ 'gf.gp.para-1' | translate }}</p>
    <ul>
        <li>
            <p [innerHTML]="'gf.gp.list.1' | translate"></p>
        </li>
        <li>
            <p [innerHTML]="'gf.gp.list.2' | translate"></p>
        </li>
        <li>
            <p [innerHTML]="'gf.gp.list.3' | translate"></p>
        </li>
        <li>
            <p [innerHTML]="'gf.gp.list.4' | translate"></p>
        </li>
        <li>
            <p [innerHTML]="'gf.gp.list.5' | translate"></p>
        </li>
    </ul>
    <br>
    <h4>{{'gf.gh.title' | translate}}</h4>
    <p>{{'gf.gh.para-1' | translate}}</p>
    <br>
    <h4>{{'gf.fm.title' | translate}}</h4>
    <p>{{'gf.fm.para-1' | translate}}</p>
    <br>
    <h4>{{'gf.hc.title' | translate}}</h4>
    <p>{{'gf.hc.para-1' | translate}}</p>
    <br>
    <h4>{{'gf.ts.title' | translate}}</h4>
    <p>{{'gf.ts.para-1' | translate}}</p>
    <ol>
        <li>
            <p>{{'gf.ts.list.1' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.2' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.3' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.4' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.5' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.6' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.ts.list.7' | translate}}</p>
        </li>
    </ol>
    <p>{{'gf.ts.para-2' | translate}}</p>
    <br>
    <h4>{{'gf.bgf.title' | translate}}</h4>
    <ol>
        <li>
            <p>{{'gf.bgf.list.1' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.2' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.3' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.4' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.5' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.6' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.7' | translate}}</p>
        </li>
        <li>
            <p>{{'gf.bgf.list.8' | translate}}</p>
        </li>
    </ol>
</div>