<div class="col-lg-12">
    <h3>{{ 'gf.title' | translate }}</h3>
    <p>{{ 'gf.para-1' | translate }}</p>
    <p>{{ 'gf.para-2' | translate }}</p>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="toggle-caret">
                    {{ 'gf.gp.title' | translate }}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>{{ 'gf.gp.para-1' | translate }}</p>
                <ul>
                    <li>
                        <p [innerHTML]="'gf.gp.list.1' | translate"></p>
                    </li>
                    <li>
                        <p [innerHTML]="'gf.gp.list.2' | translate"></p>
                    </li>
                    <li>
                        <p [innerHTML]="'gf.gp.list.3' | translate"></p>
                    </li>
                    <li>
                        <p [innerHTML]="'gf.gp.list.4' | translate"></p>
                    </li>
                    <li>
                        <p [innerHTML]="'gf.gp.list.5' | translate"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="toggle-caret">
                    {{'gf.gh.title' | translate}}
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p>{{'gf.gh.para-1' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="toggle-caret">
                    {{'gf.fm.title' | translate}}
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <p>{{'gf.fm.para-1' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="toggle-caret">
                    {{'gf.hc.title' | translate}}
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                <p>{{'gf.hc.para-1' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="toggle-caret">
                    {{'gf.ts.title' | translate}}
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
                <p>{{'gf.ts.para-1' | translate}}</p>
                <ol>
                    <li>
                        <p>{{'gf.ts.list.1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.4' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.5' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.6' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.ts.list.7' | translate}}</p>
                    </li>
                </ol>
                <p>{{'gf.ts.para-2' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="toggle-caret">
                    {{'gf.bgf.title' | translate}}
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
                <ol>
                    <li>
                        <p>{{'gf.bgf.list.1' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.2' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.3' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.4' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.5' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.6' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.7' | translate}}</p>
                    </li>
                    <li>
                        <p>{{'gf.bgf.list.8' | translate}}</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>