<footer>
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-xs-12 col-sm-4 footer-section">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        {{ 'nav.navigation' | translate }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a [routerLink]="['home']">{{ 'nav.home' | translate }}</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['business-plan']">{{ 'nav.goat-farming' | translate }}</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['about']">{{ 'nav.about' | translate }}</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['contact']">{{ 'nav.contact' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 footer-section vertical-bar">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        {{ 'brand' | translate }}
                    </div>
                    <div class="col-xs-12">
                        {{ 'contact.address.line-1' | translate }} {{ 'contact.address.line-2' | translate }} {{ 'contact.address.line-3' | translate }}
                        <a href="https://www.google.com/maps/place/Bright+Farms/@20.0410746,73.8266098,15z/data=!4m5!3m4!1s0x0:0x7a7dfad5260adf0a!8m2!3d20.0410746!4d73.8266098" target="_blank">
                            &nbsp;<span class="glyphicon glyphicon-road" area-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        {{ 'contact.phone.title' | translate }}:
                        <a [href]="'contact.phone.phone-1.value' | translate"><span class="no-wrap">{{ 'contact.phone.phone-1.display' | translate }}</span></a>,
                        <a [href]="'contact.phone.phone-2.value' | translate"><span class="no-wrap">{{ 'contact.phone.phone-2.display' | translate }}</span></a>,
                        <a [href]="'contact.phone.phone-3.value' | translate"><span class="no-wrap">{{ 'contact.phone.phone-3.display' | translate }}</span></a>
                    </div>
                    <div class="col-xs-12">
                        {{ 'contact.email.title' | translate }}: <a [href]="'contact.email.email-1.value' | translate" target="_top">{{ 'contact.email.email-1.display' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        {{ 'contact.social.title' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 footer-wrapper">
                <div class="row">
                    <div class="col-xs-12 text-center" [innerHTML]="'footer.copyrights' | translate"></div>
                </div>
            </div>
        </div>
    </div>
</footer>