<footer>
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-xs-12 col-sm-4 footer-section">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        Navigations
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a [routerLink]="['home']">Home</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['about']">About</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['contact']">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 footer-section vertical-bar">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        Bright Farms
                    </div>
                    <div class="col-xs-12">
                        Dhatrak Vasti, Mhasrul-Adgaon Link Road, Nashik, India
                        <a href="https://www.google.com/maps/place/Bright+Farms/@20.0410746,73.8266098,15z/data=!4m5!3m4!1s0x0:0x7a7dfad5260adf0a!8m2!3d20.0410746!4d73.8266098" target="_blank">
                            &nbsp;<span class="glyphicon glyphicon-road" area-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        Mobile: <a href="tel:+919545042176">+919545042176</a>, <a href="tel:+919881835530">+919881835530</a>, <a href="tel:+919822299323">+919822299323</a>
                    </div>
                    <div class="col-xs-12">
                        Email: <a href="mailto:info@brightfarms.in" target="_top">info@brightfarms.in</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-12 brand-name">
                        keep in touch
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 footer-wrapper">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        Copyright &copy; 2017 Bright Farms. All rights reserved. Website designed by <a href="mailto:amit.metkar@gmail.com;amit.metkar@brightfarms.in" target="_top">Amit Metkar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>