<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4 footer-text">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017 Bright Farms. All rights reserved.
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>
                        Website designed <a href="mailto:amit.metkar@gmail.com" target="_top">Amit Metkar</a>
                      </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>