<div class="row">
    <div class="col-lg-12">
        <h4>{{ 'contact.map-tatle' | translate }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14992.89443132903!2d73.8266098!3d20.0410746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7a7dfad5260adf0a!2sBright+Farms!5e0!3m2!1sen!2sus!4v1508110493428" class="embed-responsive-item" frameborder="0"
                style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-10">
                <div class="row visible-xs visible-sm">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-12">
                        <h4>{{ 'contact.address.title' | translate }}</h4>
                        <div class="address-section">
                            <div>{{ 'contact.address.line-1' | translate }}</div>
                            <div>{{ 'contact.address.line-2' | translate }}</div>
                            <div>{{ 'contact.address.line-3' | translate }}</div>
                        </div>
                        <br>
                        <a href="https://www.google.com/maps/place/Bright+Farms/@20.0410746,73.8266098,15z/data=!4m5!3m4!1s0x0:0x7a7dfad5260adf0a!8m2!3d20.0410746!4d73.8266098" target="_blank">
                            <span class="glyphicon glyphicon-road" area-hidden="true"></span> {{ 'contact.address.direction' | translate }}
                        </a>
                        <br>
                        <br>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-12">
                        <h4>{{ 'contact.phone.title' | translate }}</h4>
                        <div class="address-section">
                            <div>
                                <a [href]="'contact.phone.phone-1.value' | translate">
                                    <span class="glyphicon glyphicon-earphone" area-hidden="true"></span> {{ 'contact.phone.phone-1.display' | translate }}
                                </a>
                            </div>
                            <div>
                                <a [href]="'contact.phone.phone-2.value' | translate">
                                    <span class="glyphicon glyphicon-earphone" area-hidden="true"></span> {{ 'contact.phone.phone-2.display' | translate }}
                                </a>
                            </div>
                            <div>
                                <a [href]="'contact.phone.phone-3.value' | translate">
                                    <span class="glyphicon glyphicon-earphone" area-hidden="true"></span> {{ 'contact.phone.phone-3.display' | translate }}
                                </a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-12">
                        <h4>{{ 'contact.email.title' | translate }}</h4>
                        <div class="address-section">
                            <a [href]="'contact.email.email-1.value' | translate" target="_top">
                                <span class="glyphicon glyphicon-envelope" area-hidden="true"></span> {{ 'contact.email.email-1.display' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>