<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-xs-12 text-center">
                <img class="img-responsive img-full" src="../assets/img/goats_1.jpg" alt="">
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Bright Farms</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        <strong>Quality Matters</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="copyright">Copyright &copy; Bright Farms 2017</div>
                </div>
            </div>
        </div>
    </footer>
</div>